body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.color{
   
    color:violet;
}
h1{
    font-size:50px;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.half-width img {
    width: 80%;
}
.flexible-container{
    display:flex;
    margin-bottom:150px;
}


.link-button{
    text-decoration: cornflowerblue;
    background-image:linear-gradient(blue,skyblue);
    padding:10px 20px;
    color:black;
    font-weight:600;
    margin: 5px;
   
   
    border-radius: 2px;
    border-radius: 25px;
    border: 2px solid #73AD21;

  width: 200px;
  height: 150px;  
}

.background-img{
        background-image:url(images/backgroundimg.png);
        background-repeat: no-repeat;
        background-position: right;
       
      
      
    }
    
h3{
    text-align:center;
}

h2{
    text-align:center;
}
.about-me{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}
.food-item{
    width:50%;
    margin-left:5%;
    margin-right:5%;
    padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 25px;
    box-shadow:  10px 10px 40px teal;

}

p{
    
    text-decoration-color: brown;
}
.my-color{
    color:orangered;
    padding:10px 10px 10px 10px;
}
.blue-color{
    color:grey;
    padding:10px 10px 10px 10px;
}

.followers{
    
   
    width:50%;
    border-radius: 25px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 25px;
    box-shadow:  10px 10px 30px lightpink;

    
}
.food{
    padding-left:5px;
    padding-right:5px;
    
}
footer{
    background-color: black;
    height: 60%;
    position: relative;
    text-align:center;
   
    top: 40%;
    min-height: 35vh;
    padding-top:5px;
    padding-bottom:5px;
    
}